{% extends "src/_includes/layout.njk" %}

{% block title %}Become a Contributor: Virtual Coffee Hacktoberfest Initiative{% endblock %}

{% from "src/_includes/forms.njk" import
fieldGroup,
checkboxList,
radioList %}

{% block content %}
  <div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
    <div class="relative max-w-2xl mx-auto">
      <div class="text-center">
        <h1 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Become a Hacktoberfest Contributor
      </h1>
        <p class="mt-4 text-lg leading-6 text-gray-500">
        Are you interested in participating in Hacktoberfest (or Open Source in general), but don't know where to start? Or are you an experienced developer looking to do this as part of the Virtual Coffee Community?
      </p>
      </div>
      <div class="mt-12">
        <form action="/contributors-thankyou" method="POST" netlify="true" name="contributors">
          {% call fieldGroup('name', 'Name:', 'Required') %}
          <input name="name" required id="name" class="form-input py-3 px-4 block w-full transition ease-in-out duration-150">
          {% endcall %}

          {% call fieldGroup('email', 'Email:', 'Required') %}
          <input name="email" required id="email" type="email" class="form-input py-3 px-4 block w-full transition ease-in-out duration-150">
          {% endcall %}

          {% call fieldGroup('githubLink', 'Github Username (if available):') %}
          <input name="githubLink"  id="githubLink" class="form-input py-3 px-4 block w-full transition ease-in-out duration-150">
          {% endcall %}

          {{ radioList({
            id: 'OSSexperience',
            label: 'What is your experience with Open Source Contribution?',
            items: [
              "I've never contributed to OSS before",
              "I've done a few contributions before, but I'm no expert.",
              "I've done many open source contributions before, very familiar with the process"
            ]
          })}}

          {{ checkboxList({
            id: 'reasons',
            label: 'What are your reasons for wanting to contribute to Hacktober month?',
            help: 'Check all that apply',
            items: [
              "Helping Others/Giving back",
              "Learning new skills/stacks",
              "Improving my GitHub contributions/resume",
              "Working on a good cause",
              "Finding community, improving social/communication skills",
              "Having fun"
              ],
              hasOther: true
          }) }}

          {{ radioList({
            id: 'availability',
            label: 'How many hours do you think you can dedicate to open source contributions for the month?',
            items: [
              '1-3',
              '4-9',
              '10+'
            ]
          })}}

          {{ checkboxList({
            id: 'skillz',
            label: 'What skills/talents/interests would you be willing to practice in your OSS contributions?',
            help: 'Check all that apply',
            items: [
              "User Testing",
              "Documentation",
              "Front End Development",
              "Back End Development",
              "API/Business Logic Development",
              "Reporting and Analysis",
              "Project Management/Planning",
              "Unit Testing",
              "Git flow and automation",
              "Accessibility"
              ],
              hasOther: true
          }) }}

          {{ radioList({
            id: 'willingToAttendSeminar',
            label: 'Would you be willing to attend a zoom seminar for learning how to be an effective contributor?',
            items: [
              'Yes',
              'No'
            ]
          })}}

          {{ checkboxList({
            id: 'communicationPreference',
            label: 'What is your preferred method(s) of communication for collaboration?',
            help: 'Check all that apply',
            items: [
              'Directly through Github issues',
              'Direct messaging (Async) e.g. Slack, WhatsApp',
              'Email',
              'Voice/Video chat via Zoom/Discord/Skype/WhatsApp/Hangouts (you get it)'
              ]
          }) }}

          {{ checkboxList({
            id: 'activities',
            label: 'Please indicate your interest in any of the following activities:',
            help: 'Check all that apply',
            items: [
              "Pair Programming Sessions",
              "Code Review Sessions",
              "Git/Github flow coaching"
              ]
          }) }}

          {{ radioList({
            id: 'attendedAMeetup',
            label: 'Have you attended a Virtual Coffee Meetup?',
            items: [
              'Yes',
              'No'
            ]
          })}}

          {{ radioList({
            id: 'slackMember',
            label: 'Are you a Virtual Coffee Slack Member?',
            items: [
              'Yes',
              'No'
            ]
          })}}

          {{ radioList({
            id: 'allowSocialSharing',
            label: 'Are you comfortable with Virtual Coffee highlighting (with consent) your project/contributions on Social Media? (Twitter, Instagram)',
            items: [
              'Yes',
              'No'
            ]
          })}}

          <div class="mb-6">
            <label class="inline-flex items-center">
              <input type="checkbox" class="form-checkbox" name="agree">
              <span class="ml-2">By selecting this, I agree to abide by the <a href="#" class="font-medium text-gray-700 underline">Virtual Coffee Code of Conduct</a>
              </span>
            </label>
          </div>

          <div class="rounded-md bg-blue-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="text-sm leading-5 font-medium text-blue-800">
                  Please note:
                </h3>
                <div class="mt-2 text-sm leading-5 text-blue-700">
                  <p>
                    Although we would love to support everyone in their Open Source journey, we're still a very small team with limited resources. Priority for pairings will be given to Virtual Coffee Community members (attended at least one of the Virtual Coffee Zoom calls)
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-8 border-t border-gray-200 pt-12">
            <p class="mb-12 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
              Thank you for showing interest in the Virtual Coffee Hacktober Initiative!
            </p>
            <span class="w-full inline-flex rounded-md shadow-sm">
              <button type="submit" class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-orange-50 hover:text-white bg-orange-600 hover:bg-orange-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
              Submit
            </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}